.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: $account-padding;
  margin-bottom: $user-page-medium-spacing;
  background-color: $white-color;

  &_amount {
    font-size: 40px;
    font-weight: 700;
  }

  & .green-button {
    bottom: $account-padding;
    right: $account-padding;
    width: 200px;

    @include phone-portrait {
      position: static;
      margin-top: 15px;
      width: 100%;
    }
  }
}
