.nav,
.navUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 100px;
  flex-direction: row;

  &_logo {
    max-width: 100%;
    width: 200px;
    cursor: pointer;

    @include hover-opacity(0.8);
  }
  &_sign {
    padding-right: 20px;
    font-weight: bold;
    color: $text-color-blue;
    cursor: pointer;
  }
}
.navUser {
  @include smartphone {
    flex-direction: column;
    height: 50px;
  }
}
