.header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    transform: scale(0.5);
    position: relative;
    left: -22%;
    cursor: pointer;

    @include smartphone {
      left: -12%;
      transform: scale(0.65);
    }

    @include phone-portrait {
      left: -5%;
      transform: scale(0.75);
    }

    @include hover-opacity(0.8);
  }
}
